body {
	font-size: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 18px;

}

#main {
	margin: 20px;
}

#title {
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 20px;
	text-align: center;
}

#title span {
	font-size: 55px;
	font-family: cursive;
}

#input {
	text-align: center;
	margin-bottom: 30px;
}

#input input {
	width: 500px;
	height: 30px;
	font-size: 15px;
	padding: 5px 10px;
}

#show,
#select,
#photos,
#templateContainer {
	text-align: center;
	margin-bottom: 20px;
}

#select .refresh {
	width: 35px;
	height: 35px;
	vertical-align: -12px;
	cursor: pointer;
}

#show h1 {
	font-size: 20px;
	font-weight: bold;
}

.flickrblue {
	color: #0063dc;
}

.flickrpink {
	color: #ff0084;
}
