body {
	font-size: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 18px;
}

#input {
	text-align: center;
	margin: 40px;
}

#input input {
	width: 450px;
	height: 30px;
	font-size: 15px;
	padding: 5px 10px;
}

#show,
#select,
#photos {
	text-align: center;
	margin-bottom: 20px;
}

#show h1 {
	font-size: 20px;
	font-weight: bold;
}

.photo {
	display: inline-block;
	margin: 5px;
}


