body {
	font-size: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 18px;
}

#input {
	height: 100px;
	text-align: center;
	position: relative;
}

#input div {
	height: 50px;
	margin: auto auto auto auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#input input {
	width: 450px;
	height: 30px;
	font-size: 15px;
	padding: 5px 10px;
}

#show,
#select {
	text-align: center;
	margin-bottom: 20px;
}

#show h1 {
	font-size: 20px;
	font-weight: bold;
}

